<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Bloggie</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/style.css" rel="stylesheet">
  </head>
  <body>
    <p>Hello</p>
  </body>
</html>
